.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 8px 8px 8px black;
    transform: translate(0%,50%);
}
.form-container h2{
    color: black;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input{
    margin: .5rem;
    padding: .2rem;
}
.my-btn{
    width: 50%;
    align-self: center;
    margin-top: 1rem;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 20px;
    width: 20%;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: .4rem;
    text-align: center;
}